<div>
    <header class="text-center">
        <h3>{{type.auth_grant_type}}</h3>
    </header>

    <div class="main-content">
        <div class="row">
            <div class="col-md-1">
                &nbsp;
            </div>

            <div class="col-md-10">
                <p>
                    <a href="/">Repeat the flow</a>
                </p>
                <div class="py-2">
                    <div class="card ">
                        <div class="card-body">
                            <h5 class="card-title">So what happened here?</h5>
                            <p class="card-text">
                                <p>
                                    After granting permission to access your data, the username and password provided
                                    is authenticated and if valid, an access_token is returned by the Authorization Server
                                    to the callback function:

                                    <div class="alert alert-secondary">
                                        <h6>Request</h6>
<pre>
{{access_token.request}}
</pre>
                                        <h6>Response</h6>
<pre>
{{access_token.response}}
</pre>
                                    </div>

                                    which was used as an Authorization Bearer
                                    to GET repositories available to you. These are steps 3 & 4 of the Authorization flow:
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#flow-modal"> See flow</button>
                                </p>

                            </p>

                            <div >
                                <h6>The power of the <b>access_token</b></h6>
                                <p>
                                    Using this access_token your app now have the power to do several things with the end-user data, given that it is within permission defined in the consumer settings.
                                    You may do so by calling any of <a href=https://developer.atlassian.com/cloud/bitbucket/about-bitbucket-cloud-rest-api/">Bitbucket's REST APIs v2</a>
                                </p>

                                <p>
                                    Bitbucket's access tokens <a href="https://developer.atlassian.com/cloud/bitbucket/oauth-2/#refresh-tokens">expires</a> after an hour and when this happens,a 401 is returned.
                                </p>

                                <p>
                                    Most access token grant responses (<b><i>Implicit and JWT excluded</i></b>) therefore include a <i>refresh token</i> that can then be used to generate a new access token, without the need for end user participation.
                                    To generate a new access_token using the refresh_token:
                                <div class="alert alert-secondary" role="alert">
                                    <h6>Request</h6>
<pre>
{
  "method": "POST",
  "url": "https://bitbucket.org/site/oauth2/access_token",
  "headers": {
    "Cache-Control": "no-cache",
    "Authorization": "Basic {base64(consumer_client_id, consumer_secret)}"
  },
    "form": {
    "grant_type": "refresh_token",
    "code": "{refresh_token}"
  }
}
</pre>

                                </div>
                                Which you use for the next API call
                                </p>

                                <p>
                                <h6>How to use this authorization in making a request:</h6>
                                <ul>
                                    <li>Send it in a request header: Authorization: Bearer {access_token}</li>
                                    <li>Include it in a (application/x-www-form-urlencoded) POST body as access_token={access_token}</li>
                                    <li>Put in the query string of a non-POST: ?access_token={access_token}</li>
                                </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <div class="card ">
                        <div class="card-body">
                            <h5 class="card-title">Request</h5>
                            <p class="card-text">
                            <div class="alert alert-secondary" role="alert">
<pre>
{{repository.request}}
</pre>
                            </div>
                            </p>

                        </div>
                    </div>
                </div>

                <div class="py-2">
                    <div class="card ">
                        <div class="card-body">
                            <h5 class="card-title">Response</h5>
                            <p class="card-text">
                            <div class="alert alert-secondary response-body" role="alert">
<pre>
{{repository.response}}
</pre>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="py-2">
                    <div class="card ">
                        <div class="card-body">
                            <h5 class="card-title">Clone using access_token</h5>
                            <p class="card-text">
                            <div class="alert alert-info" role="alert">
<pre>
$ git clone https://x-token-auth:{{access_token.access_token}}@bitbucket.org/{username}/{respoSlug}.git
</pre>
                            </div>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            &nbsp;
        </div>
    </div>
</div>

<footer>
    Anne Calantog  Developer Advocate at Atlassian (2018)
</footer>
</div>

<div class="modal fade bd-example-modal-lg" id="flow-modal" tabindex="-1" role="dialog" aria-labelledby="authModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="authModalLabel">Grant Flow</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <img src="/images/authorization_flow.png" class="auth-flow-img"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
